/*hero section*/
/* 

/* .hero-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 560px;
  max-width: 1080px;  */
  /* border: solid yellow; */
  /* background-image: url(assets/hero2.png); */
  /* object-fit: cover;  
}*/


/*responsive vid container 
use aspect-ratio for best result*/
/* margin: 0 auto horizontally centers a block-level element when width or max-width is set.*/
.vid-bg {
  /*position: relative establishes positioning context for child, iframe. This creates a position reference point for any absolutely positioned child elements like iframe. Otherwise,  iframe will position relative to next ancestor that has a positioning context.*/
  position: relative;
  width: 100%;
  max-width: 1080px;
  aspect-ratio: 16 / 9; 
  height: auto;
  /* box-sizing: border-box; */
  margin: 0 auto;
  border: solid red; 
}

/*Position: absolute takes element iframe outside normal flow and positions it exactly relative to its nearest positioned ancestor .vid-bg*/
/* top, left, width, height values makes sure vid fills entire container*/
.vid-bg iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  top: 0;
  left: 0;
}

/*hierarchy
 .main-wrapper
│.vid-bg  (position: relative; aspect-ratio: 16:9)
│     <iframe> (position: absolute; fills .vid-bg)
*/


/* order of media queries should go from largest to smallest widths */
/*tablets between 769px and 1024px*/
@media (min-width: 769px) and (max-width: 1024px) {
  .vid-bg {
    max-width: 90%;
  }
}

@media (max-width: 430px) {
  .vid-bg {
    max-width: 100%;
    margin: 0 1em;
    padding: 0;
    /* margin shorthand values: 0em for top and bottom, 1em for right, left equal to font size*/
  }
}



