/*projects section*/

.container-fl {
  display: flex;
  border: 8px solid purple;
  /* flex-direction: row; */
  /*how to center everything*/
  justify-content: center;
  align-items: center;
  align-content: center;
  /* gap: 20px; */
  flex-wrap: wrap;
  /* gap: 10px; */
}


/* .box vid-container
position: relative;
  width: 100%;
  max-width: 1080px;
  aspect-ratio: 16 / 9; 
  height: auto; */
  /* box-sizing: border-box; */
  /* margin: 0 auto; */

  /* .box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  top: 0;
  left: 0;
} */


.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*how to center everything inside each box*/
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 23em;
  max-height: 26em;
  min-width: 30em;
  max-width: 50em;
  /* max-width: 400px; */
  background: none;
  font-size: 1.5rem;
  flex: 1 1;
  /*flex-grow, flex-shrink, flex-basis*/
}

/*for img of diff sizes - force imgs to be consistent with same dimensions*/

/* @media (min-width: 768px) and (max-width: 1024px) {
 
 .links-container {
    display: flex;
    flex: wrap;
    justify-content: flex-end;
    padding-right: 2.5em;
 }

  nav a {
    display: flex;
    flex: wrap;
    padding-left: 2.5em;
  }

}  */



/*tablets between 769px and 1024px*/
@media (min-width: 769px) and (max-width: 1024px) {
  .container-fl {
    max-width: 90%;
    min-width: 300px;
    margin: 0 1em;
  }
}

@media (max-width: 430px) {
  .vid-bg {
    max-width: 100%;
    margin: 0 1em;
    padding: 0;
    /* margin shorthand values: 0em for top and bottom, 1em for right, left equal to font size*/
  }
}


/*for phone screen*/

@media (max-width: 430px) {

  .container-fl {
    max-width: 90%;
    min-width: 300px;
    margin: 0 1em;
    padding: 0;
  }

  .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

