/*projects section*/

.container-fl {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  border: 4px solid purple;
  padding: clamp(.5em, 1em, 1.5em);
  /* flex-direction: row; */
  /*how to center everything*/
  justify-content: center;
  align-items: center;
  align-content: center;
  /* gap: 20px; */
  flex-wrap: wrap;
  /* gap: 10px; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: solid yellow; */
  justify-content: center;
}

/*for video and text*/
.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: clamp(1.5rem, 3rem, 4rem);
  /*center text inside each box*/
  text-align: center;
  flex: 1 0;
}

/*container for each video only*/
.video-wrapper {
  position: relative;
  width: 100%;
  /*1080px in em*/
  max-width: 67.5em;
  aspect-ratio: 16 / 9; 
  height: auto;
  /* box-sizing: border-box; */
  /*margin 0 puts vid at top, auto horizontally centers vid*/
  margin: 0 auto;
  border: solid red; 
  overflow: hidden;
}

/*each video inside the container since YouTube and Vimeo might not respect aspect-ratio*/
/*absolute will position according to closest ancestor, i.e. .video-wrapper since position: relative sets it as reference*/
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* 
  .box iframe {
  width: clamp(20em, 35em, 67.5em);
  height: auto;
  aspect-ratio: 16 / 9;

} */

/* .box .img-vid {
  /*position: relative establishes positioning context for child, iframe. This creates a position reference point for any absolutely positioned child elements like iframe. Otherwise,  iframe will position relative to next ancestor that has a positioning context.*/
  /* position: relative;
  width: 100%;
  max-width: 67.5em;
  aspect-ratio: 16 / 9;  */
  /* height: auto; */
  /* box-sizing: border-box; */
  /* margin: 0 auto;
  border: solid red; 
}  */

/*Position: absolute takes element iframe outside normal flow and positions it exactly relative to its nearest positioned ancestor .vid-bg*/
/* top, left, width, height values makes sure vid fills entire container*/
/* .box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  top: 0;
  left: 0;
} */


/*tablets between 769px and 1024px*/
@media (min-width: 769px) and (max-width: 1024px) {
  .container-fl {
    max-width: 90%;
    min-width: 300px;
    margin: 0 1em;
  }
}

@media (max-width: 430px) {
  
  .container-fl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

