@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --primary-color: #11121a;
  --hover-color: #fdab7f;
  --accent-color: #0071ff;
  --text-color: #fdfdfd;
  --text-dark: #d509ec;
}

* {
  margin: 0;
  padding: 0;
  /*change most default settings. Only special thing here is applied border-box on every element since prevents a lot of problems with padding
Means that specified width and height of an element include the padding and border, in addition to the content. Padding and border are added to the element's total size.*/
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", "Ubuntu", sans-serif;
  color: var(--text-color);
}

.top-section {
  min-height: 33%;
  border: solid white;
}

body {
  min-height: 100vh;
  /*dvh is dynamic viewport height - best for smartphones so users aren’t forced to scroll for extra length at bottom with reg vh. Browser will choose whether vh or dvh is best*/
  min-height: 100dvh;
  width: 100vw;
  background-color: var(--primary-color);
  border: solid rgb(255, 119, 0);
  padding: min (80px, 7%);
}
.main-wrapper {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding: min (80px, 7%);
  /*browser will choose either min of 5em or 7% - whichever is smaller*/
  border: solid blue;
}


main p {
  margin-top: 0.2em;
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  /*clamp(min, preferred, max)*/
  max-width: 80ch;
  /*number of characters*/
  padding: 2em;
}

h1 {
  display: flex;
  font-size: clamp(1.6rem, 5vw, 2.5rem);
  padding: 1em;
  justify-content: center;
  align-items: center;
}

h2 {
  /* display: flex; */
  font-size: clamp(1rem, 5vw, 2rem);
  padding-top: .5em;
  padding-left: .5em;
  justify-content: center;
}

h3 {
  /* display: flex; */
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  padding: 0.5em;
  justify-content: center;
}

/* header and navbar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    font-weight: bolder;
    /* height: 6em; */
}

.menu-box {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    /* height: 100%;
    width: 100%;
    padding: 2.5em; */
    /* background-image: url(assets/banners/bknd_media.jpg)  */
    /*fill entire navbar*/
}


nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--text-dark);
  font-size: clamp(1.3rem, 2.3vw, 2.5rem);
  padding-right: 1em;
  padding-top: 1em;
  height: 100%;
}

nav a:hover {
  color: var(--hover-color);
  border-bottom: 0.2em solid pink;
  border-bottom-right-radius: .8em;
  border-bottom-left-radius: -0.5em;
}

#sb-active {
    display: none;
    /*hide sidebar desktop*/
}

.sb-open, .sb-close {
    display: none;
}


/*hero section*/
/* 
.hero-sect {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
    /* background-image: url(assets/hero2.png);
  object-fit: cover; */
  /* border: solid red;
}  */

.hero-wrap {
  display: flex; 
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  border: solid yellow;
  /* background-image: url(assets/hero2.png);
  object-fit: cover; */
 } 

/*projects section*/

.container-fl {
  min-height: 70em;
  border: 8px solid purple;
  display: flex;
  /* flex-direction: column; */
  /*how to center everything*/
  justify-content: center;
  align-items: center;
  align-content: center;
  /* gap: 20px; */
  flex-wrap: wrap;
  /* gap: 10px; */
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*how to center everything inside each box*/
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 23em;
  max-height: 26em;
  min-width: 30em;
  max-width: 50em;
  /* max-width: 400px; */
  background: none;
  font-size: 1.5rem;
  flex: 1 1;
  /*flex-grow, flex-shrink, flex-basis*/
}

/*for img of diff sizes - force imgs to be consistent with same dimensions*/





/* @media (min-width: 768px) and (max-width: 1024px) {
 
 .links-container {
    display: flex;
    flex: wrap;
    justify-content: flex-end;
    padding-right: 2.5em;
 }

  nav a {
    display: flex;
    flex: wrap;
    padding-left: 2.5em;
  }

}  */


/*for phone screen*/

@media(max-width: 430px) {
 
nav {
  display: flex;
  flex-direction: column;
   align-items: flex-end;
    /*navbar will remain on top, even when scrolling*/
    position: fixed; 
    top: 0; 
    right: 0; 
    /*make sure navbar above other elements*/
    z-index: 10; 
}

 .menu-box {
    display: none;
    flex-direction: column;
    /* margin-right: auto;  */
    align-items: flex-end;
    width: 100%;
 }


 #sb-active {
    display: block;
  }

 .sb-open, .sb-close {
  /* padding: 5px;   */
  display: block;
    
  }

  /*if box is checked then siblings in menu-box*/
  #sb-active:checked ~ .menu-box {
    display: flex;
  }

  nav a {
    /* box-sizing: border-box;
    height: auto; */
    width: 100%;
    padding: .2em; 
    justify-content: right;
    align-items: flex-end;
  }

  .container-fl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  } 

}

